[2010-04-26 12:48] AlekSi opened #1 "No 0.1.1 on rubygems.org"
http://rubygems.org/gems/jsonpath

[2010-04-27 20:05] #1 closed, assigned to nobody

[2011-05-11 07:19] metade opened #3 "JSONPath doesn't support paths with underscores"
e.g. $.item.short_synopsis

[2011-06-07 00:18] #3 closed, assigned to nobody

[2011-06-25 22:15] jamesarosen opened #7 "Don't depend on a specific JSON library"
It would be really nice if jsonpath were to depend on [multi_json](https://github.com/intridea/multi_json) so that I could use it with whatever JSON library I happen to be using. [yajl-ruby](https://github.com/brianmario/yajl-ruby) is great, but it doesn't work on many Ruby interpreters.

[2011-06-26 17:10] #7 closed, assigned to nobody

[2012-11-13 01:51] zhiyuchen opened #11 "support filter by childnode value"
Seems this is not currently supported, calling the method below returns an error:
NoMethodError: undefined method `price' for "reference":String

JsonPath.on("{ \"store\": {\"book\": [{ \"category\": \"reference\", \"price\": 8.95} ] }}", "$..book[?(@.price==8.95)].category")

[2013-02-19 20:37] michaelkruglos opened #14 "Members that contain ']' in their name may cause infinite loop"
Example path:
$.test.something[(@['helllo]'])]

Causes the while loop on line 29 to never end.

[2013-03-15 08:49] sfba opened #15 "Support for paths with hyphens"
[code]

[2013-03-18 21:49] #15 closed, assigned to nobody

[2013-04-09 19:10] shadoi opened #17 "Are any string functions implemented?"
Seems from the code there's no way to do something equivalent to this in XPath:

(Pulled from the example on http://en.wikipedia.org/wiki/XPath)

/wikimedia/projects/project[@name="Wikipedia"]/editions/edition/text()

Is it not possible to filter based on string values yet?  Are there any plans to implement this, along with the other string functions?

[2013-05-08 19:14] ddrscott opened #18 "elements that contain @ or $ are unparsable"
Unfortunately the data I'm receiving contains "@" symbols and the StringScanner utilization doesn't have a way of escaping special characters.

[code]

[2013-06-18 08:27] michaelkruglos opened #19 "Filters don't work on inconsistent children"
Following example produces exception:

<code>
data=<<-EOD
{ "store": {
    "book": [
      "string_instead_of_object",
      { "category": "fiction",
        "author": "Evelyn Waugh",
        "title": "Sword of Honour",
        "price": 12.99
      },
      { "category": "fiction",
        "author": "Herman Melville",
        "title": "Moby Dick",
        "isbn": "0-553-21311-3",
        "price":

[2013-06-26 14:09] jhigman opened #21 "When child array index doesn't exist, still get return value"
This test fails:

  def test_lookup_missing_element
    assert_equal [], JsonPath.new('$.store.book[99].price').on(@object)
  end

  1) Failure:
test_lookup_missing_element(TestJsonpath) [/home/jzh/git/jsonpath/test/test_jsonpath.rb:13]:
Expected: []
  Actual: [23]

I would expect to get an empty response, or possibly exception, if a child element is not found.

Instead, it seems like the search f

[2014-02-18 17:48] maxlinc opened #28 "Discrepancy with reference implementation - same result for $.store and $.store.*"
I noticed a discrepancy between this project and the original PHP implementation of JSONPath by Stefan Gössner.  This project gives the same result for `$.store` and `$.store.*`, while the original PHP implementation returns different results.

Additionally, I can't figure out a workaround.  Is there a jsonpath that would give me an equivalent result (values only instead of the full object)?

I te

[2014-06-13 21:07] praste opened #29 "How can use another json object during substiution"
I want do somethinglike
JsonPath.for('{"candy":"lollipop"}').gsub('$..candy') {|v| '{ "big turks": "more turk"}' }.to_hash

[2014-06-25 19:40] eliaslevy opened #30 "Element wildcard (*) is not supported on intermediate elements and produces wrong results on terminal nodes"
This works

[code]

but note is produces the wrong result.  It should generate `[{"c"=>1}]`.

This doesn't work

[code]

It should return `[1]`.

Note that http://jsonpath.curiousconcept.com/ produces the expected results in both cases.

[2014-09-24 12:38] kibs opened #31 "using gsub! path, false gives an error"
I cant replace a path with false. replacing with true works nicely.

[code]

[2014-10-17 03:16] jpsimonroy opened #32 "gsub fails for where selectors"
Try the below in the specs:
JsonPath.for(@object).gsub!("$..book[?(@['price'] > 20)]") { |p| p + 10 }

It fails with trace:
NoMethodError: undefined method `+' for nil:NilClass
    from (irb):139:in`block in irb_binding'
    from /Users/simon/.rvm/gems/ruby-2.1.2@lookist/gems/jsonpath-0.5.6/lib/jsonpath/enumerable.rb:97:in `call'
    from /Users/simon/.rvm/gems/ruby-2.1.2@lookist/gems/jsonpath-0.5

[2015-09-17 21:04] PositiveAlex opened #34 "The @ symbol could not be a child json object"
How can I get *value* parameter of an item in *chilren* list using the *code* parameter ?

I found only one way to do this and I dont like it:

*$..children.[?(@.info.code == 'code1')]..value*

I dont like that the filter expression does not iterate recursively using double dots like

*$..children.[?(@..code == 'code1')]..value* -- this sentence gives me an error.

Is there any way to get *value*

[2015-09-29 00:14] PositiveAlex commented on #34
That is just unworkable. And without answer.

[2015-10-30 11:32] PositiveAlex commented on #34
@joshbuddy can be closed after the pull request review

[2015-11-24 10:49] #34 closed

[2015-12-09 22:12] nickls opened #36 "example incorrect"
Current readme example
[code]
should be:
[code]

[2015-12-09 22:52] joshbuddy commented on #36
Good catch!

[2015-12-09 22:53] #36 closed

[2016-05-02 10:48] greyblake commented on #11
@joshbuddy @zhiyuchen Looks like it fixed already:)

[2016-05-02 10:48] greyblake opened #37 "condition for children does not work"

[2016-05-02 10:48] greyblake opened #38 "condition for children does not work"
It was fixed for array here: https://github.com/joshbuddy/jsonpath/pull/24

But still does not work, if a child is not an array:

[code]

[2016-05-02 12:38] #37 closed

[2016-05-02 12:41] greyblake commented on #38
P.S. I you decide to merge the PR, can you please publish a new version on rubygems?:)

[2016-07-20 05:36] Skarlso commented on #38
So... There hasn't been any action on this. I'm guessing the author is gone, or something. Can somebody take over the curation of this gem?

I'd be happy too.

[2016-07-20 05:38] Skarlso opened #40 "Curation of this gem and maintenance of this Gem"
Hi.

So, I'm in desperate need of an update for this Gem and it hasn't been curated / updated in a LONG while, even though there are some much needed pending PRs in it.

I'd be happy to take over the maintenance of it if you would like me to @joshbuddy.

Cheers,
Skarlso.

[2016-08-10 21:01] mmorga opened #42 "dot style paths fail if the key has a colon in the name"
I've submitted a PR #41 with a fix for this (and accompanying test).

[2016-08-20 21:00] Skarlso commented on #32
Because the correct for the assert is this: `JsonPath.for(@object).gsub!('$..book.price[?(@ > 20)]') { |p| p + 10 }`

[2016-08-21 21:58] jhigman commented on #21
Closed by https://github.com/joshbuddy/jsonpath/commit/12bdacc9125838c5d14fb3c6a00e79a15da97f49

[2016-08-21 21:58] #21 closed

[2016-09-07 20:41] Skarlso commented on #42
Hey @mmorga. This gem is no longer maintained. Care to pop over to https://github.com/Skarlso/jsonpathv2 and submit your PR there? :)

[2016-09-19 00:34] bf4 opened #43 "Relationship to JSON Pointer spec?"
@joshbuddy Is this spec meant to complement the [JSON Pointer RFC 6901](https://tools.ietf.org/html/rfc6901) or compete with it?

[2017-04-10 19:43] pts-kevinqiu opened #44 "Unable to parse `dict.*.key` type query"
Here's a sample script:
[code]

Running the script produces empty result, while I'm expecting `[1, 2, 3]`. Testing the json on http://www.jsonquerytool.com/#/JSONPath gives me the right result:

![image](https://cloud.githubusercontent.com/assets/22983808/24879317/79da4dc6-1e04-11e7-9495-2aea49522014.png)

[2017-04-29 15:06] PositiveAlex commented on #40
That would be awesome if you curate this repo!

[2017-04-29 17:00] Skarlso commented on #40
Hey @PositiveAlex. Pop over to my repos. You find it there. ☺️
https://github.com/Skarlso/jsonpathv2

[2017-04-30 23:10] joshbuddy commented on #40
@Skarlso Hey, do you want to have access to this repo and the gem? Send me an email at joshbuddy@gmail.com

[2017-05-01 05:31] Skarlso commented on #40
Thanks man!

[2017-05-01 05:31] #40 closed

[2017-05-01 05:32] Skarlso opened #45 "New Collaborator"
Hey folks.

I've been added as a collaborator, so I'm going to address all the issues one-by-one and apply some refactorings I already did.

Please feel free to submit new issues if you have any desires.

Cheers,
Gergely.

[2017-05-01 06:32] Skarlso commented on #44
Yes, intermediary wildcards aren't working yet. You can work around this using `[?(@)]` for new instead of the `*`. I'll try to work out a nicer way of doing it.

[2017-05-01 06:33] Skarlso commented on #42
Applied to issue to the refactorings.

[2017-05-01 06:33] #42 closed

[2017-05-01 08:17] Skarlso commented on #30
Fixed this.

[2017-05-01 08:19] Skarlso commented on #44
Fixed this in an upcoming PR.

[2017-05-01 08:20] Skarlso commented on #30
Fixed this in an upcoming PR.

[2017-05-01 08:22] Skarlso commented on #17
Going to address this issue.

[2017-05-01 09:50] barttenbrinke commented on #45
So is your fork is this gem going to be deprecated?

[2017-05-01 10:30] Skarlso commented on #45
Hey man.

Unsure yet. I'm gonna talk to the folks at huginn who are using my version right now.

[2017-05-02 06:14] #30 closed

[2017-05-02 06:14] #44 closed

[2017-05-02 06:16] Skarlso commented on #43
@bf4 I'm gonna asses this soon. :)

[2017-05-02 06:19] #11 closed

[2017-05-02 06:19] #14 closed

[2017-05-02 06:19] #18 closed

[2017-05-02 06:19] #19 closed

[2017-05-02 06:20] #28 closed

[2017-05-02 06:20] #29 closed

[2017-05-02 06:20] #31 closed

[2017-05-02 06:20] #32 closed

[2017-05-02 06:21] #38 closed

[2017-05-02 06:22] Skarlso commented on #45
@barttenbrinke gonna talk with the huginn folks. I'll probably deprecate mine as this one is more widely used.

[2017-05-02 08:32] greyblake commented on #38
@Skarlso I confirm it'x fixed in 0.7.0. Thanks a lot!

[2017-05-02 08:34] Skarlso commented on #38
Awesome buddy! Thanks very much for the confirm. 👍

[2017-05-02 09:04] Skarlso commented on #43
@bf4 It doesn't aim to do either. It's actually a Ruby implementation of an XPath search pattern described here: http://goessner.net/articles/JsonPath/.

Thus, you should really ask rather, what's the relationship of that XPath to that RFC. Though if I understood that RFC, this has nothing to do with it. So I guess it's a competitor of sort. :)

[2017-05-02 11:12] Skarlso commented on #45
Tracking here as well. I'll create a pull to Huginn once, I'm ready, and deprecate my own copy of this Gem.

[2017-05-03 06:11] #43 closed

[2017-05-03 08:46] Skarlso commented on #17
@shadoi what functionality are you looking for based on a real json example which you couldn't do with the help of currently supported functionality? I mean, I see the point of `@name` in that sample XML. But that's an xml node with an attribute.

[2017-05-04 14:42] pezra commented on #18
@Skarlso, this is still an issue that i would like fixed. I closed #25 only because it was cluttering my pull request list and it didn't look like it would ever get merged. I'd be happy to make any improvements needed to get that merged.

[2017-05-04 14:47] Skarlso commented on #18
@pezra Could you please re-test with 0.7.0?

[2017-05-04 22:40] johnallen3d opened #49 "Support for OR (||) operator?"
I've tried a few things based on [suggestions in this post](http://stackoverflow.com/questions/23897661/or-operator-in-jsonpath) but am having no luck. Obviously there are many different implementations of JSONPath so I'm wondering if this one has support for an `OR` operator.

As an illustration, the following example works with the [online evaluator](http://jsonpath.com/):

[code]

[code]

[code

[2017-05-05 06:03] Skarlso commented on #49
Huh, interesting. :D Gonna check it out.

[2017-05-05 06:03] #17 closed

[2017-05-07 06:26] Skarlso commented on #49
@johnallen3d Hey man. Checkout the added examples. ;)

[2017-05-07 06:42] Skarlso commented on #45
Submitted the PR to Huginn folk to remove the need for my Gem.

[2017-05-07 06:43] Skarlso commented on #45
huginn/huginn/#1996

[2017-05-07 09:44] #49 closed

[2017-05-08 01:06] Skarlso commented on #45
Thanks for the nice folks at huginn my PR has been merges. I'm closing this one.

[2017-05-08 01:06] #45 closed

[2017-05-08 13:58] johnallen3d commented on #49
👍 thanks!

[2017-05-08 14:05] Skarlso commented on #49
@johnallen3d Feel free to reopen this issue if it doesn't meat what you want.

Cheers

[2017-05-08 17:58] Skarlso opened #51 "Please include @Skarlso into new issue so I get notification about them."

[2017-05-09 12:50] johnallen3d opened #52 "Float in Conditional Expression"
I'm just getting around to trying out the [conditional operators](https://github.com/joshbuddy/jsonpath/commit/6bec446010fb5f90d428cff77f3bb4020125f3c6) (thanks!) and found a potential bug. If i use the JSON example from the README that includes float values for book prices I get an error. More specifically, if I see an error when I try to use floats in the `JsonPath` expression.

[code]

This doe

[2017-05-09 12:55] Skarlso commented on #52
Huh, wth. I'm guessing it's because it picks up the `.` as an identifier. Thanks for reporting this @johnallen3d .

[2017-05-09 13:07] Skarlso commented on #52
Yep. It picks the `.` up as an identifier. I'll fix it asap.

[2017-05-09 13:30] Skarlso commented on #52
Done.

[code]

[2017-05-09 16:55] Skarlso commented on #52
@johnallen3d could you please have a go with the latest version mate?

[2017-05-09 18:39] johnallen3d commented on #52
Woo hoo! Thanks!

[code]

[2017-05-10 03:32] #52 closed

[2017-05-11 15:58] 1e1 opened #54 "Do you plan to add a full implementation of `?()`"
As defined on http://goessner.net/articles/JsonPath/
The `?() ` means *a filter (script) expression*.

An example from http://stackoverflow.com/questions/30030652/filter-the-json-according-to-string-in-an-array-in-jsonpath
explains we can use the valid Javascript Jsonpath: `$.Books.History[?(@.Tags.indexOf('Indian') != -1)]`

The Ruby version should be: `$.Books.History[?(@.Tags.include?('Indian')

[2017-05-12 06:10] Skarlso commented on #54
Hi.

Thanks for submitting an issue.

There is no `underlying` javascript which this gem executes, so there are no methods like `include?` or `indexOf`. Though you did bring my attention to Tags which is an array. I think we are lacking a facility to check values in that. :/

[2017-05-12 13:53] bf4 commented on #43
Yeah, I was thinking it's a competitor that's superseded jsonpath

[2017-05-12 14:23] Skarlso commented on #54
So there is something working.. I might just need to extend on this.

[code]
But I can't get it to return the node for now. It returns just that tag.

And tag looks like this:

[code]

[2017-06-09 23:04] Voomer commented on #54
in version 5.8.0 this expression worked:
$.acceptNewTasks.[?(@.taskEndpoint == "mps/awesome")].lastTaskPollTime

Now there is an infinite loop in the Parser.parse_exp function in versions 7.0.0 and up.

[2017-06-10 01:10] Skarlso commented on #54
Ahh. Thanks for the report. I'm gonna address it ASAP.

[2017-06-10 01:12] Skarlso commented on #54
Interesting. That looks like something that should have worked though. Hmmm. I bet it's the `/`.

[2017-06-10 06:41] Skarlso opened #57 "Infinite loop on parsing expression"
Ping @Voomer.

[2017-06-10 06:51] Skarlso commented on #57
Yep, it is the slash. How mediocre.

[2017-06-10 07:51] Skarlso commented on #54
@1e1 I got it to a point where you can basically match against an element in an array. But that will only return the matched element. The node is not back followed.

I'll work on this some more later on.

[2017-06-10 07:52] Skarlso commented on #54
[code]

for

[code]

[2017-06-10 12:36] #57 closed

[2017-06-14 13:31] Skarlso opened #59 "Parsing the operand fails in not common floating values"
This line => https://github.com/joshbuddy/jsonpath/blob/master/lib/jsonpath/parser.rb#L49

Fails on thing like `1.0e-5` or `0.00001` or `1.00`.

[2017-06-14 13:57] #59 closed

[2017-06-16 21:35] Voomer commented on #57
Thanks!

[2017-08-02 02:09] carolfly86 opened #61 "delete not working on array ?"
the delete function does not seem to be working when the path contain array element. I tried on the example json in readme file
[code]

[2017-08-03 12:44] Skarlso commented on #61
Thanks @carolfly86 I'll look into it ASAP

[2017-08-04 05:23] Skarlso commented on #61
So the problem is, that it's trying to delete at a location. In which case, arrays use the `delete_at` method, not simply `delete`. So `context.delete(0)` won't work, because it's supposed to be calling `context.delete_at(0)` in case it's an array and the key is a Fixnum which is a bit lame, but meh.. Ruby. :) I'll fix it.

[2017-08-04 07:15] #61 closed

[2017-08-04 14:45] carolfly86 commented on #61
Thanks!

[2017-08-04 14:52] Skarlso commented on #61
You're welcome. :-) Thanks for reporting it!

[2017-08-08 08:28] aoyama-val opened #63 "Cannot filter by digits-only string"
[code]

[2017-08-09 08:45] Skarlso commented on #63
hi @aoyama-val. I'll look into it ASAP.

[2017-08-11 13:37] Skarlso commented on #63
Thanks, nice spot!

[2017-08-11 18:40] #63 closed

[2017-08-11 18:42] Skarlso commented on #63
Could you please re-test @aoyama-val? If it's still present, please re-open this ticket. :)

Thanks!

[2017-08-13 01:32] aoyama-val commented on #63
I confirmed. Thank you for fixing!

[2017-08-13 09:12] Skarlso commented on #63
Thanks! :) Np. 👍

[2017-08-16 20:02] rfogel opened #65 "Parse non string as string"
Hello, im trying to parse this type of json:
{
    "user":[
     {
         "id": "123",
         "name": "example"
     }
     ]
}
Using this expression '$.user[?(@["id"] == "123")]' does not work because the "id" field is a number. If a put "123a", like a real string, works perfectly. Is there a way to solve this? Thanks

[2017-08-16 20:52] #65 closed

[2017-08-16 20:53] rfogel commented on #65
Already solved on another issue

[2017-08-27 19:17] Skarlso commented on #54
so, because of some of the design choices that have been made, the expression comes in like this:

[code]

Now, constructing something useful out of this is not impossible, but alas, there is no way of finding out, if in this situation 'include' is a function call or an element.

A help would be if I could restrict function syntax to question marks at the end. But that would mean that nothing else

[2017-09-23 10:21] #54 closed

[2017-09-24 19:10] Skarlso opened #66 "It's alive!"
Don't let the lack of updates discourage you.

There aren't any because it's pretty much feature complete. I might still hack around on it to improve it in some ways, but there aren't too many things I can do at this point.

I'm promptly answering issues though, if any should arise.

Cheers,
Gergely.

[2017-09-26 17:16] melsawy opened #67 "Support '@' in jsonpath filter"
I'd like to filter json+ld data so I should include `@` in jsonpath
i.e. `$.mentions[?(@['@type'] == 'Place')]` I got empty result although my json+ld data has a `@type == Place`
the data format is:
[code]

the full jsonpath is `JsonPath.new("$.mentions[?(@['@type'] == 'Place')]").on(jsonld)`

[2017-09-28 04:47] Skarlso commented on #67
Oh, cool. Interesting. I'm on it. 👍

[2017-10-01 08:49] Skarlso commented on #67
That's unfortunate. The `@` is a special character for JsonPath. I'll have to work around that somehow.

[2017-10-01 09:26] Skarlso commented on #67
Fixed. Should be okay now. Please reopen in case it doesn't work as expected. @melsawy.

[2017-10-02 04:56] melsawy commented on #67
:+1:  works well thanks @Skarlso

[2017-10-02 06:51] Skarlso commented on #67
Awesome! Thanks. :-)

On Mon, 2 Oct 2017, 06:56 Mohamed El-Sawy, <notifications@github.com> wrote:

[2017-10-25 00:23] ryansch opened #69 "Parentheses are not supported in a matcher"
Failing test case:

[code]

Output:
[code]

The failure appears to come from: https://github.com/joshbuddy/jsonpath/blob/8caab76ff047eaa3fc765834a4bb16b27163a3c9/lib/jsonpath/parser.rb#L25

[2017-10-26 01:07] carld opened #70 "subscript on filtered set"
Hi, I was expecting to be able to subscript a filtered set, but get back an empty set.  e.g.
[code]

Maybe this is unsupported, maybe it's a bug, I don't know.

Below is a shell script where the first two paths return expected results, `PATHEXP3` returns an empty set.

Any hints appreciated, thanks

[code]

[2017-10-26 20:06] Skarlso commented on #69
Uh geez, nice catch. :)

[2017-10-26 20:07] Skarlso commented on #70
Hey!

Thanks for reporting. I'll take a look as soon as I can!

[2017-10-26 20:14] Skarlso commented on #70
Can you try `"$.store..books[?(@['category']=='fiction')][0]" instead of `"$.store..books[?(@['category']=='fiction')].[0]"`?

[2017-10-26 20:43] carld commented on #70
@Skarlso it's the same - it returns an empty array

[2017-10-26 20:44] Skarlso commented on #70
Thanks. Gonna debug it later on. It's late now. :-) Going to bed.

On Thu, 26 Oct 2017, 22:43 Carl Douglas, <notifications@github.com> wrote:

[2017-10-27 07:54] Skarlso commented on #69
right, that's because there is a lot of fluff in the incoming element value. Ahh geez, that going to suck. :/

[2017-10-27 08:06] Skarlso commented on #69
Oh, it's actually easier than that.

[2017-10-27 08:16] #69 closed

[2017-10-27 08:22] Skarlso commented on #69
@ryansch Fixed.

[2017-10-27 14:22] ryansch commented on #69
Thanks!

[2017-10-28 14:37] Skarlso commented on #70
Yeah, it's not a thing that is supported. It's kind of like this thing: http://jsonpath.com/. And this kind of behaviour doesn't work with that either.

In code, it works of course, because it returns multiple elements. But it doesn't work with the CLI. :/ Sorry.

[2017-11-10 22:46] dadiv opened #73 "Cannot `gsub` with a PATH_ALL expression."
First, thanks for making jsonpath! It's great!

Second, can you help with this error? Should it not be possible to do the following?

[code]

This fails with:

[code]

I get the same failure with:

[code]

I am able to do:

[code]

with the expected results. My particular use case is to operate on all the strings contained within the document in the block given to `#gsub`.

[2017-11-11 16:51] Skarlso commented on #73
Hey. Thanks very much in the name of the creator as well as mine. 👍

Also thanks for submitting a ticket. :)

I'll take a look!

[2017-11-11 17:11] Skarlso commented on #73
Alright. So, how this works is, that you can `gsub` for all elements if the element you are replacing is that same structure as the element you are using.

So, in the above example you can gsub if you are using the same structure like this:

[code]

When you are doing the `'a'` case, you are specifically selecting a node, so it knows what you are trying to replace. But `*` will not look for indivi

[2017-12-01 16:38] maniodev opened #74 "Regex filtering not working"
I would like to delete element(s) of a JSON object matching a certain criteria, but a simple regex match doesn't seem to work.
[code]

[2017-12-03 21:20] Skarlso commented on #74
Hey, thanks for submitting an issue. I'll take a look ASAP.

[2017-12-04 20:03] Skarlso commented on #74
Hey.

So JsonPath isn't using eval any longer. Thus, this is basically a new feature I have to implement in the Parser.

Which is fine. I'm going to do that. Just sayin'. :)

[2017-12-28 15:48] Skarlso commented on #74
Sorry, I was on a longer break and than adventofcode.com hit. :-D

Going to work on this ASAP.

[2017-12-29 23:57] axsuul opened #76 "Support returning null for missing leaves in a path"
I'm not sure if this is supported already since I see that `process_function_or_literal` accepts a default value. But basically, if we have JSON that looks like this

[code]

then the path `data[*].gender` will return (as expected)

[code]

However, there are situations where a `nil` value is preferred to be returned instead if the leaf/key is missing. So perhaps something like

[code]

will inste

[2017-12-30 06:03] Skarlso commented on #76
Interesting stuff! Let me look into it. I'll tell you what's needed.

[2017-12-30 09:40] axsuul commented on #76
@Skarlso Great!

[2017-12-30 22:01] Skarlso commented on #76
Uh, it's a bit crappy, because `default` is not propagated properly anywhere. It's going to be a refactor with quite a size. @axsuul

[2018-01-03 08:44] Skarlso commented on #76
As you wish. :) I'm looking into ways of doing it nicely though. I'll say when I come up with one. :)

[2018-01-03 08:44] #74 closed

[2018-01-03 16:34] joshbuddy commented on #66
Given what a stellar job you've been doing with this, gonna close this issue :)

You're the best @Skarlso!

[2018-01-03 16:34] #66 closed

[2018-01-03 16:36] Skarlso commented on #66
@joshbuddy Thanks, man! :)

[2018-02-01 15:36] sandeepnagra opened #77 "jsonpath eval not working"
I am trying to get name of of all states from json where 'hasAgency' is true

I tried `JsonPath.new("$..name[?(@['hasAgency'] == true)]").on(json_response)` and it returns empty array

I also tried `JsonPath.new("$..name[?(@['hasAgency'] != false)]").on(json_response)` and it returns error "undefined method `strip' for nil:NilClass"

I tried jsonpath `$[?(@['hasAgency'] != false)].name` at http://

[2018-02-02 13:26] Skarlso commented on #77
Hi.

Eval has been removed from JsonPath as it's deemed unsafe. That said, I don't understand your Json. :) It's mixing types where string can be a boolean as well, which is not particularly something JsonPath will or should understand.

What is your objective?

[2018-02-02 13:28] Skarlso commented on #77
[code]

[2018-02-02 13:33] Skarlso commented on #77
Oh, I see. `name` will not have an attribute called `hasAgency`. If you start out with `..name` it will look for something like:

[code]

Which if you look at your Json it will obviously not found.

[2018-02-02 13:35] Skarlso commented on #77
For your case what would work is this jsonpath: `$..[?(@.hasAgency == true)]`.

[2018-02-02 13:35] #70 closed

[2018-02-02 13:36] #73 closed

[2018-02-03 05:39] sandeepnagra commented on #77
@Skarlso - thanks for the prompt response. I guess I have already tried `$..[?(@.hasAgency == true)]` but I am not sure so I will try it out again and let you know if it works.

The json is response from an API that I am trying to test.

[2018-02-03 06:34] Skarlso commented on #77
@sandeepnagra sure no problem. Tell me if it's not working. I'll investigate further.

[2018-02-05 14:38] sandeepnagra commented on #77
@Skarlso - I tried `JsonPath.new("$..[?(@.hasAgency == true)]").on(json_response)` but it didn't work. It just returns an empty array. Eventually, I just want only the names of the states that has hasAgency == true, so I would want something like `$..[?(@.hasAgency == true)].name` to work.

[2018-02-05 14:48] Skarlso commented on #77
@sandeepnagra Interesting. Thanks, I'll investigate further. Must be something wrong with the Parser.

[2018-02-08 12:37] Skarlso commented on #77
@sandeepnagra So, I played around with it. Then suddenly realized, you can do simply `$..[?(@.hasAgency)]` and it works. :) Would you please be so kind as to test it out? Thanks.

[2018-02-08 22:31] sandeepnagra commented on #77
@Skarlso - `$.[?(@.hasAgency)].name` did the trick for what I wanted. This was helpful. Thanks!

[2018-02-09 08:35] Skarlso commented on #77
Awesome! Glad to hear. :-) Cheers.

[2018-02-09 08:35] #77 closed

[2018-05-11 03:02] dblock opened #79 "Regression in 0.7.0"
[code]

With 0.5.8

[code]

With 0.7.0 or newer

[code]

I am possibly misunderstanding the syntax?

[2018-05-11 07:43] Skarlso commented on #79
Hey @dblock.

Going to look at this is a moment.

[2018-05-11 07:58] Skarlso commented on #79
Interesting. It does seem to not work for some reason. :/ Going to investigate and fix.

[2018-05-11 10:48] viggis75 commented on #67
Hi @Skarlso and @melsawy! I'm also struggling using Filters and Predicates where my JSON is JSON-LD containing @ fields.

Given I have an array of JSON-LD that looks similar to this (I cut some of it to make it simpler to read):
{
	"@context": "http://schema.org/",
	"@type": "Order",
	"seller": {
		"@type": "Organization",
		"name": "NOT KNOWN"
	},
	"broker": {
		"@type": "Organization",
		"name":

[2018-05-11 11:05] Skarlso commented on #67
Interesting. Yeah, I'm not excepting any `@` signs in a node name.
I'll fix it.

[2018-05-11 11:26] viggis75 commented on #67
btw, I just realized that I was using this lilbrary, https://github.com/json-path/JsonPath, but I might turn into using this library instead

[2018-05-11 11:51] dblock commented on #79
A different but similar regression that doesn't work with a workaround.

[code]

[2018-05-11 20:16] Skarlso commented on #67
@viggis75 Oh, can you check if it is a problem with this one as well?

[2018-05-11 21:06] Skarlso commented on #79
Fixed the second regression of boolean values.

[2018-05-12 15:14] Skarlso commented on #79
Merged the boolean thing. Working on the first one. It's interesting. I think it's the parsers fault at a first glance. :/ Going to try and take it apart step by step.

[2018-05-12 15:16] dblock commented on #79
I’m glad I created some interesting work for you :)

More seriously it’s very much appreciated!

[2018-05-12 15:18] Skarlso commented on #79
Ey, no worries, Thanks! There was some risk involved when I switched to the parser from eval. But I think it was worth it, considering the security risk of eval. :) There were bound to be problems. Honestly, I'm glad you found some, I was beginning to think that the bugs might be more obscure. :)

[2018-05-12 19:43] Skarlso commented on #79
@dblock So turns out I made a grave mistake during refactoring. And some of the tests I've wrote weren't supposed to work the way I wrote them. But this gem was working incorrectly and thus the tests were passing.

I confirmed with the jsonpath online evaluator. :/

Massive thanks for this issue. I don't think I would have ever found out otherwise.

[2018-05-13 20:15] Skarlso commented on #79
@dblock Success!!!!!! \o/ So turns out, my dig implementation was flawed as well. I was mimicking the ruby implementation which said, if hash is not a hash it should return the hash. However, I forgot that ruby also had this dig in the hash class, while mine was being able to be called by anyone leading to get `general` returned as `general` for which the evaluation was `general == general`. Which

[2018-05-13 23:14] joshbuddy commented on #79
👏 👏 👏

well done!

[2018-05-14 23:06] dblock commented on #79
🆒

[2018-05-15 04:39] Skarlso commented on #79
Now, if there aren't any further issues, I'm closing this one. :) Please re-open if anything surfaces.

[2018-05-15 04:39] #79 closed

[2018-05-15 04:40] #67 closed

[2018-06-01 10:45] NDuggan opened #82 "Filter by root key value"
You should be able to filter by the value of a root element. Jayway allows this as shown in their [online evaluator](http://jsonpath.herokuapp.com/?path=$.[?(@.expensive%20==%2010)]).

**JSON**
[code]

**JsonPath**
[code]

-----

*Tagged as requested: @Skarlso*

[2018-06-05 21:53] SteveDonie opened #83 "Something changed from 0.8.11 to 0.9.0"
We are using jsonpath in a cucumber testing setup. Locally, I installed gem version 0.8.11. Our Jenkins server originally also had 0.8.11. We recently started using Jenkins slightly differently, using docker container rather than static Amazon AMI, and that container did not specify which version of jsonpath gem, and ended up getting 0.9.0. Tests that work with 0.8.11 are failing with 0.9.0. I als

[2018-06-05 21:58] SteveDonie commented on #83
tagging @Skarlso as requested.

[2018-06-07 13:41] NDuggan opened #84 "Newlines make JsonPath hang"
I currently allow users to enter JsonPaths via a textarea which I then split on `/\R/`, but before I implemented the split functionality I noticed my background jobs were hanging/frozen.

**How to recreate**
[code]

-----

@Skarlso

[2018-06-07 13:44] Skarlso commented on #84
going to investigate soon

[2018-06-07 13:44] Skarlso commented on #82
Could you please try `@.initial` just simply? I'll investigate soon.

[2018-06-07 13:47] Skarlso commented on #83
Hi @SteveDonie. That is entirely possible as in the previous version there were some things actually incorrect. :/ Which were fixed in 0.9.0. and they should now use the correct notation just like in http://jsonpath.com/ this thing.

I'll investigate soon regarding your sample input.

[2018-06-07 13:48] Skarlso commented on #82
For the record, jsonpath the gem is rather using this as a guide: http://jsonpath.com/ for which the above does not work.

[2018-06-07 13:50] Skarlso commented on #82
Hah! Try this: `$.[?(@ == true)]`. Since it's the first node, that should work.

@NDuggan

[2018-06-07 14:11] NDuggan commented on #82
Thanks for the reply @Skarlso. I did in fact try using `@ == true` before posting but that didn't work.

Also without referencing the key you could end up filtering by the wrong element, e.g.:
[code]

[2018-06-07 20:41] Skarlso commented on #82
@NDuggan bamm! :)

[code]

[2018-06-07 21:07] Skarlso commented on #83
I see where the problem is. Fixing it is a tad bit difficult though. :/

[2018-06-07 21:08] Skarlso commented on #84
Yeah this is on the parser not recognising the new line as a character I think. ah. What a pain in the ars.

[2018-06-07 21:19] Skarlso commented on #83
@SteveDonie Please see linked PR. That should fix this bug.

[2018-06-07 21:29] Skarlso commented on #84
Oh lol, this is the initial scanner dying. Hah. Just need to strip that new line. Everything works fine. nothing to see here.

[2018-06-08 08:44] NDuggan commented on #84
Perfect. I wasn't planning on passing it any newlines, I just happened to do it by mistake so thought I'd report it. Thanks for the quick fix though! 👍

I've pulled the update and confirm the newline thing no longer breaks things.

[2018-06-08 08:44] #84 closed

[2018-06-08 08:48] NDuggan commented on #82
@Skarlso awesome, thank you very much.

I can also confirm that your examples work and the following also works.
[code]

Is there any reason though, that you cannot do this:
[code]

[2018-06-08 12:03] Skarlso commented on #82
Huh. That is odd. I should think that that should work as well. I'll investigate.

[2018-06-08 17:26] SteveDonie commented on #83
Thanks! I'll keep an eye out for the next release.

[2018-06-08 19:08] Skarlso commented on #83
@SteveDonie It's already released. :) you can try out the new version 0.9.1. Should work. Hopefully. Thank you for submitting an issue!

[2018-06-13 08:35] Skarlso commented on #82
Sorry, I'm swamped, going to look at it today maybe, but tomorrow latest.

[2018-06-13 19:08] Skarlso commented on #76
@axsuul Hey. @Seikitsu was so nice as to fix this issue apparently. Well done. :)

[2018-06-13 19:56] Skarlso commented on #82
Ah, because I strip out `@`... so the expression becomes `"== true"` which won't work. That's why you can't do this. I'm gonna fix it.

[2018-06-13 20:15] Skarlso commented on #82
So this is quiet odd.

`$.[?(@.initial == true)]` should actually work fine. :/

[code]

Return false. :O

[2018-06-13 20:22] Skarlso commented on #82
It's a string. :/ Argh. Of course. It's the same problem as with the `false` thing.

[2018-06-13 20:30] Skarlso commented on #82
works now as it does with Jayway's parser:

[code]

Path: `$.[?(@.initial == true)]`

Result:

[code]

@NDuggan Is that okay?

[2018-06-13 20:42] Skarlso commented on #82
Also, fixed the parser so that it properly defines `true` and `false` now. :)

[2018-06-14 19:00] #76 closed

[2018-06-18 09:30] NDuggan commented on #82
@Skarlso sorry I was away for a few days, I'm going to pull the latest version and give it a go! 👍

[2018-06-18 09:39] NDuggan commented on #82
@Skarlso can confirm that it now worked using `$.[?(@.initial == true)]` which is perfect.

Thanks again for your quick response and action! 🥇

[2018-06-18 09:39] #82 closed

[2018-06-19 01:55] Skarlso commented on #82
You're welcome. Thanks for testing and reporting the issue.

[2018-06-21 13:56] Skarlso commented on #83
Please re-open if issue still exists.

[2018-06-21 13:56] #83 closed

[2018-06-25 14:17] Zejnilovic opened #88 "Delete doesnt delte more than 7 items from an array"
[code]
returns
[code]

Which is too much of items returned. I can switch the 1:10 for 1:7 or 1:8, doesn't make a difference

[2018-06-27 20:06] Zejnilovic commented on #88
More information follos

[code]

[2018-06-28 07:28] Zejnilovic commented on #88
It seems to me you are not deleting them in a bulk but one by one and that means
[code]

I think this problem could be solved by reversing the order of deletion

In file enumerable.rb on line 63 I added reverse each and everything works fine for me now.
From:
`(start_idx..end_idx).step(step) { |i| each(node, i, pos + 1, &blk) }`
To:
`(start_idx..end_idx).step(step).reverse_each { |i| each(node, i,

[2018-06-28 07:37] Skarlso commented on #88
Hi. Sorry for the late answer, I don't get notifications of new Issues unless I'm tagged.

Going to take a look at this as soon as I can. :)

[2018-06-28 08:56] Zejnilovic commented on #88
@Skarlso next time I will tag you.
I made a Pull Request. It is not a complete fix but it does work. I presume there are better ways, but at least it underlines the problem.
Thank you for your reply

[2018-06-28 09:07] Skarlso commented on #88
Np. I saw. I'll take a look later on, I think a bit of refactoring might do a better job rather than a fork. But maybe not. :) we'll see. :)

[2018-07-05 20:41] Skarlso commented on #88
Sorry that it takes this long. :( I'm busy. But I started to look at this.

The step count is fishy... There is a bug there somewhere.

[2018-07-05 21:05] Zejnilovic commented on #88
Not a problem, I understand that these projects are not life but a hobby.
I see there being a problem.
if you do:
`[0,1,2,3,4,5,6,7].delete(1)`
it deletes number 1 on position one. Then comes the second index:
`[0,2,3,4,5,6,7].delete(2)`
But second index is no longer the second index it was at the beginning and it deletes the number 3.
I think this is the problem. That is why I hotfixed it so it d

[2018-07-07 11:33] Skarlso commented on #88
So the problem with reversing it is just dodging the problem which is that the indexes are off once an item is removed from the node. I had different approach here https://github.com/joshbuddy/jsonpath/pull/90 and also added some tests to prove it.

[2018-07-16 12:52] skaliber opened #91 "Selecting data based on fields with boolean value doesnt work"
given the following json

[code]

Im trying to extract [phoneNumbers](url) where the `type` is `true`

this is my expression : `$.phoneNumbers[?(@.type==true)]` but it doesn't work

I have a lot of data sets with this boolean fields and I cant use JsonPath to work them out .

Any suggestion ?

[2018-07-17 15:23] NDuggan opened #92 "Selecting multiple keys/values"
Hi @Skarlso not sure if this is a bug per se, but I can't seem to get this to work (even on jsonpath.com) but can on other evaluators.

JSON
[code]

JSONPath
[code]

Desired outcome
[code]

[2018-07-17 20:54] Skarlso commented on #92
Hey dude. Thanks for pinging me. I'm on vacation until Friday, I'll take a peak then and see what I can do. :-)

[2018-07-18 04:46] Skarlso commented on #91
Interesting. Could you please take a look at the tests? There are a lot of examples for boolean fields that are working right now.

[2018-07-21 14:42] Skarlso commented on #91
@skaliber Which version are you trying to use?

[2018-07-21 14:45] Skarlso commented on #91
Because this is definitely working:

[code]

Will display: `[{"type"=>true, "number"=>"0123-4567-8910"}]`

[2018-07-22 09:14] Skarlso commented on #92
@NDuggan thanks man. I'm back. Going to take a look at things. :)

[2018-07-22 09:14] Skarlso commented on #91
Please re-open if issue persists.

[2018-07-22 09:14] #91 closed

[2018-08-02 17:06] NDuggan opened #93 "Can't parse a specific pattern"
@Skarlso not sure how to explain this issue, so just going to provide example JSON, Path, expected output and actual output. Let me know if you need further information.

This works on jsonpath.com (but returns `[]` with `JsonPath.on`.

JSON
[code]

JsonPath

Version 1
[code]

Expected output
[code]

Version 2
[code]

Expected output
[code]

Both return
[code]

[2018-08-05 21:08] Skarlso commented on #93
@NDuggan  So sorry, was bogged down with a ton of stuff! This is next on my todo list now though. :)

[2018-08-06 04:38] Skarlso commented on #93
What... even is that? :D

[2018-08-06 04:39] Skarlso commented on #93
Oh it's a regex match against an element. Or at least something like a "%http%" in SQL and the likes. Hmmmmmm.....

[2018-08-06 04:55] Skarlso commented on #93
The parsing kind of completely falls apart on this one. :/ Uh.

[2018-08-06 05:10] Skarlso commented on #93
Alright, so I might be able to handle this gracefully, I think. Your pattern in that case would be something like `/http/.match(@whatever`. I'm using `match` to conform to ruby's regex match.

[2018-08-07 22:40] viguza opened #94 "Delete elements from array using filter instead of index"
Hi @Skarlso, I don't think this is an issue but maybe a feature request actually. I have been working a lot with this project, and at some point, I found myself trying to delete elements from an array that matches a condition.

Something like this:

Input JSON
[code]

JSONPath
[code]

Expected output:
[code]

However, it's returning the original object unmodified. The weird thing is that it works

[2018-08-08 20:46] Skarlso commented on #94
So I think I can hack this together although it won't be trivial. But I know where the thing lies :)

[2018-08-08 21:06] viguza commented on #94
That would be great! I've been trying some debugging and following the code, but it's definitely a hard one. Still, good to know it can be done :)

[2018-08-24 04:55] Skarlso commented on #94
Hey @viguza. Sorry this took so long. I was out for a long time sick. But now I'm better. I have a solution up. It's not a 100% great, but because we are dealing with recursive nodes, I can't just delete them while it's enumerating. So I had to rely on a mark/replace strategy here.

But hey, if it works... :)

[2018-08-27 17:41] viguza commented on #94
Hey, @Skarlso the solution looks good to me. Thanks for the quick answer, I can't wait to try this on my code.

[2018-08-27 18:51] Skarlso commented on #94
merging :)

[2018-08-27 19:33] #94 closed

[2018-10-10 17:34] junzhuang opened #96 "Seems to have problem when there is single quote in value"
json_string = [{"Analysis_Type":"King's College","Denominator":"8","Numerator":"87.50%","Measure":"7"}]

JsonPath.new('$.[?(@.Analysis_Type == "King\\'s College")]').on(json_string) returns an emtpy array.

When I tested the query, $.[?(@.Analysis_Type == "King\\'s College")], on http://www.jsonquerytool.com/ it worked.

[2018-10-15 04:09] Skarlso commented on #96
Hi. Thanks for reporting it. I'll investigate ASAP.

[2018-10-15 05:51] Skarlso commented on #96
Confirmed. I'll be fixing it shortly.

[2018-10-15 09:32] #96 closed

[2018-10-24 12:54] neumanrq opened #98 "Problems using Ruby 2.5.1"
Hi @Skarlso 👋

When working with [SciRuby/daru-io](https://github.com/SciRuby/daru-io) (which includes `jsonpath`) I stumbled over the following behavior: When feeding the class `JsonPath` with input containing curly braces, like `$.{index}.{name}.age`, `jsonpath` stops throwing `FrozenError (can't modify frozen String)`.

Here's a sample log to reproduce:

[code]

Unfortunately I do not understan

[2018-10-26 07:14] Skarlso commented on #98
Hi!

Interesting. I'll look into it! :)

[2018-10-26 07:48] Skarlso commented on #98
Interesting. As far as I can see it shouldn't matter if there is a curly bracket or not.

[2018-10-26 07:52] Skarlso commented on #98
Oh I think it might be `nil` or something similar, which can't be modified. I'll need to debug this further.

[2018-10-30 09:12] #98 closed

[2018-10-30 09:41] Skarlso commented on #98
Hi @neumanrq.

This should be all fixed now and working. Have fun thanks for reporting it!

[2018-10-30 10:30] neumanrq commented on #98
Thanks for fixing this so quick 🚤 👍 👌

[2018-11-14 09:35] heisfullstacked commented on #92
Would like this feature. To be able to provide a list of fields in the format ['field1', 'field2'] on an object and get those fields from the JSON object.

[2018-11-14 11:35] Skarlso commented on #92
👍 I'll do this. Sorry for the long ass delay. I was bogged down a lot of things.

[2018-11-14 11:41] heisfullstacked commented on #92
I am a newbie to open-source. Can I help?

Regards
Himanshu Tanwar
8867671297

On Wed, Nov 14, 2018 at 5:05 PM Gergely Brautigam <notifications@github.com>
wrote:

[2018-11-14 11:42] Skarlso commented on #92
Sure, if you can figure out how to do this with Jsonpath, by all means! :)

I remember looking at it briefly. Unfortunately it's not a trivial thing to do. And probably requires some re-writing of the parsing rules.

[2018-11-14 11:44] heisfullstacked commented on #92
Thanks.
I will also have a look then.

Regards
Himanshu Tanwar
8867671297

On Wed, Nov 14, 2018 at 5:12 PM Gergely Brautigam <notifications@github.com>
wrote:

[2018-11-15 09:48] himanshunestaway opened #100 "Option to symbolize keys while getting the json object at path"
Hi,
**Example JSON:**
{"store":
  {"bicycle":
    {"price":19.95, "color":"red"},
    "book":[
      {"price":8.95, "category":"reference", "title":"Sayings of the Century", "author":"Nigel Rees"},
      {"price":12.99, "category":"fiction", "title":"Sword of Honour", "author":"Evelyn Waugh"},
      {"price":8.99, "category":"fiction", "isbn":"0-553-21311-3", "title":"Moby Dick", "author":"Herman

[2018-11-18 06:32] Skarlso commented on #100
@heisfullstacked Hi. You should be able to do this with `for` and a block.

Let me know if that helps.

[2018-11-18 06:39] Skarlso commented on #100
Hum, that doesn't work for different things. I'll take a look at this when I have some more time on my hand.

[2018-11-18 19:56] Skarlso commented on #100
Yeah, I don't think I'm going to support this. That would require a massive refactor for which I don't currently have the time or resources.

Sorry buddy. If you have any ideas, please don't hesitate to open a PR.

[2018-11-18 20:03] joshbuddy commented on #100
Couldn’t you just do a deep modification on the hash after computing it? It would be a bit sloppy but probably good enough

[2018-11-19 05:16] Skarlso commented on #100
Hey @joshbuddy! :)

Hum good idea. Probably could do that. But, don't you think that using options like that is weird? I feel like options isn't defined for that purpose. But I might be wrong here? :)

[2018-11-21 06:02] heisfullstacked commented on #100
Can you explain why it is weird to use options to control the output format? It is more or less similar to telling a method to return a particular file format instead of default one.

[2018-11-21 08:20] Skarlso commented on #100
¯\_(ツ)_/¯ Not sure. Feels weird. I'm going to do it anyways though. :)

[2018-12-02 20:39] Skarlso commented on #100
This should do the trick. Though I still think this is weird. :)

[2018-12-03 12:33] #100 closed

[2018-12-04 02:53] khairihafsham opened #102 "Array slicing does not follow the syntax in https://goessner.net/articles/JsonPath/"
**Problem:**

`$..book[:2]` produces 3 elements, where according to https://goessner.net/articles/JsonPath/, it should produce 2 element.s

`$..book[::2]` produces 2 elements and consistent with the documentation for this repo.

Is this expected?

**Reproduction Steps:**

[code]

[2018-12-04 15:43] Skarlso commented on #102
Hi @khairihafsham. I'll take a look soonish.:)

[2018-12-05 06:04] khairihafsham commented on #102
I've created a PR. Not sure if it is appropriate. But, please have a look and comment if I need to make improvements.

[2018-12-05 07:03] Skarlso commented on #102
Cool, I'll take a look. Thanks!

[2018-12-05 08:37] khairihafsham commented on #93
I wonder if this syntax is a standard that should be adopted? there is no standard reference other than the original https://goessner.net/articles/JsonPath/ and even there makes no mention of filters supporting regex

Looking at the Java implementation to support regex filter is also different: https://github.com/json-path/JsonPath

[2018-12-05 14:39] Skarlso commented on #93
Yah, that's why I was reluctant to do it. It sort of messes things up a bit. :/ But I might implement it at one point anyways. :)

[2019-01-07 23:07] johnallen3d opened #105 "Invalid Result for Grouped Expressions"
I have a query that includes multiple expressions `&&`'d together that is not returning results as expected. I think it's easier to explain by example.

Using the book data from the tests I would expect the following query to return "Moby Dick" but I'm actually getting all books.

[code]

I used [http://jsonpath.com](http://jsonpath.com) and [https://jsonpath.herokuapp.com](https://jsonpath.heroku

[2019-01-07 23:08] johnallen3d commented on #105
Sorry, forgot to tag @Skarlso.

Also, I do not have a solution at the moment but I did write a failing test:

[code]

[2019-01-08 04:52] Skarlso commented on #105
Yeah I don't think the parser is handling the () basically.

[2019-01-19 11:37] Skarlso commented on #105
Okay, so this isn't so trivial since the parser doesn't know if the `(` is now part of the name of a node, or an actual opening parenthesis. And I have no way of distinguishing between the two in a nice way.... I have to ponder this some more.

[2019-01-19 11:45] Skarlso commented on #105
Hmm, I have a wild idea. Maybe it will work.

[2019-01-20 21:38] Skarlso commented on #93
@khairihafsham It just dawned on my that I'm supporting regex in a query.

You could try `?(@name =~ /http[s]?/)` or something like that.

[2019-01-20 22:03] Skarlso commented on #93
@khairihafsham Yep. This actually works:

[code]

[2019-01-20 22:03] #93 closed

[2019-01-20 22:04] #105 closed

[2019-02-04 13:36] v3rmin opened #108 "Using @[0] to get nested values"
I found some differences when I was testing at http://jsonpath.com/

**NOTE: The phone numbers are wrapped in an Array.**

## JSONPath.com
<img width="1110" alt="jsonpath_online" src="https://user-images.githubusercontent.com/799089/52211199-76c89c00-2889-11e9-826f-533ee1b8dc93.png">

## jsonpath ruby gem
[code]
As you can see both numbers are returned when using the gem instead of only the home n

[2019-02-04 13:40] v3rmin commented on #108
Notify @Skarlso

[2019-02-04 14:05] Skarlso commented on #108
@v3rmin Hi. Interesting... So indexing is supported by default in Jsonpath. Could you try doing something like this?

[code]

[2019-02-04 17:37] v3rmin commented on #108
`$.phoneNumbers[0][?(@.type == 'home')]` returns empty Array `[]`

[2019-02-05 08:39] v3rmin commented on #108
I want to have the same output/result as I got from jsonpath.com

[2019-02-05 08:43] Skarlso commented on #108
Oh. I seeee..... Jsonpath returns the nested item as a single entity and does not consider that it's a nested array. 🤔 I'll take a deeper look at this.

[2019-02-05 08:49] Skarlso commented on #108
@v3rmin This works as a workaround:

[code]

`@.0` doesn't work right now. I'll fix that. So after that this will work:

[code]

Where @.0 is basically the indexing part. Is that okay?

[2019-02-06 16:31] Skarlso commented on #108
Wait. This is odd. [1] is working to get the right item...

[2019-05-24 04:18] Skarlso commented on #108
Alright. I'm going to tackle this now. I had some very busy moments in my life, but I'm back for this.

[2019-05-26 20:48] #108 closed

[2019-06-03 11:00] #92 closed

[2019-06-16 19:40] cburgmer opened #115 "Results do not match other implementations"
The following queries provide results that do not match those of other implementations of JSONPath
(compare https://github.com/cburgmer/json-path-comparison/tree/master/comparison):

- [ ] `$[1:10]`
  Input:
[code]
  Expected output:
[code]
  Actual output:
[code]

- [ ] `$['0']`
  Input:
[code]
  Expected output:
[code]
  Actual output:
[code]

- [ ] `$..*`
  Input:
[code]
  Expected output:
[cod

[2019-06-18 19:57] Skarlso commented on #115
Interesting. I'll take a look. Some of these are definitely weird.

[2019-06-18 19:57] Skarlso commented on #115
One thing though. This: `$['0']` is not supported, yeah. :)

[2019-06-20 12:03] Skarlso commented on #115
So. We are also returning the keys basically, not just the values in case of `$..*`. I think that is fine. The people who are using this library came to expect that for a long time now, so I'm not going to change the implementation to match that of others.

That would break the current usage pattern of this gem which people using it rely upon. If people would like to have other types of results, I

[2019-06-20 12:03] #115 closed

[2019-06-20 20:52] cburgmer commented on #115
Thanks for your response.
Part of this issue was to gather feedback on whether this kind of qualitative comparison is helpful to the projects. I would post issues for further items that come up via this mechanism if helpful.

[2019-06-21 03:43] Skarlso commented on #115
Absolutely please do so. And thank you for the issue and your time. 😊

[2019-09-22 18:05] greena13 opened #117 "Feature: Pass accessor path to gsub"
Hi @Skarlso,

Thanks for the great library! My particular application uses the `gsub` function and I am really missing the ability to record or operate on the path to the matched attribute. It would be great if this was passed as a second parameter to the handler function. For example:

[code]

Thanks.

[2019-09-22 19:58] Skarlso commented on #117
Hey!

Sure thing. :)

[2019-09-23 05:28] greena13 commented on #117
That's great! Is there any way I can assist or help speed up when this might be available?

It _looks_ like it's a case of passing down and maintaining an additional parameter to the [enumerable#each](https://github.com/joshbuddy/jsonpath/blob/master/lib/jsonpath/enumerable.rb#L14) method, but I don't yet know JSONPath well enough to be exactly sure what the appropriate operation is to the the acc

[2019-09-23 08:59] Skarlso commented on #117
Dunno yet. I need to take a closer look first. :)

[2019-10-11 08:57] Skarlso commented on #117
sorry, I'm going to a new workplace so I'm swamp at the moment.

I took a quick look and I'm unsure yet how to do this properly. :) any suggestion is welcomed. :D

[2019-10-11 13:39] clergyman opened #118 "Getting TypeError if one of the nodes in json has name "hash""
Hi @Skarlso!
I have a strange issue, suppose the following json:
`j = {height: 5, hash: "some_hash"}.to_json`
And the following paths
`ht = JsonPath.new "$..height"`
`hs = JsonPath.new "$..hash"`
Then in ruby 2.6.0 condole I see this - height is found and hash gives me TypeError exception:

Can you please have a look at it if time?

[2019-10-11 13:51] Skarlso commented on #118
Hi @clergyman! Wow that's interesting. I'll take a look as soon as I can! Thanks for reporting. :) I'm guessing `hash` as a word will have some trouble haha.

[2019-10-11 13:59] clergyman commented on #118
Yess, this is highly possible )) I came upon this as I had to repair my old tests, and it appears that everything runs fine in ruby 2.3.3, so the trouble with keyword hash came in in later versions. But unfortunately that's an old stable product and we cannot change contracts in it, and anyway it looks like an easy although kind of ugly fix.

[2019-10-11 14:05] Skarlso commented on #118
Yeah. I'll take a look. 😊

On Fri, 11 Oct 2019, 15:59 Clergyman, <notifications@github.com> wrote:

[2019-10-14 07:39] Skarlso commented on #118
@clergyman Hi.

So I just tried this on ruby 2.6 and both the unit test and irb is working fine. :D

[code]

[code]

What am I doing wrong?

[2019-10-14 08:36] clergyman commented on #118
@Skarlso JsonPath object is created fine, have you tried further?

I have the whole thing crash on `hs.on j`

[2019-10-14 08:48] Skarlso commented on #118
[code]

?

[2019-10-14 08:52] clergyman commented on #118
@Skarlso yep, that's it, ["some_hash"] expected, but exception =(

[2019-10-14 09:18] Skarlso commented on #118
Uh, this is disconcerting. They look the same in JsonPath as an object.

[2019-10-14 09:51] Skarlso commented on #118
Okay, interesting. It's not the word `hash` apparently.

[code]

[2019-10-14 09:52] Skarlso commented on #118
Oh Gods it's the path...

[code]

Works...

[code]

doesn't work.

[2019-10-14 10:23] clergyman commented on #118
The path does not work if the node name is _hash_. And yes this is amazing ))))

[2019-10-14 10:34] Skarlso commented on #118
Nope. It doesn't matter what the node name is. Sorry, I wasn't clear on that. Just the PATH doesn't work if the path to look for contains the word hash. So the json could be:

[code]

Or

[code]

Doens't matter as long as the path is `$..hash`. :D

[2019-10-14 10:42] clergyman commented on #118
Oh I see.. Even more interesting!

[2019-10-14 12:20] Skarlso commented on #118
@clergyman !!!!!!!!

[code]

F*cking ruby.

[2019-10-14 12:27] Skarlso commented on #118
Freck. No idea how to fix this without hacking. :(

[2019-10-14 12:33] Skarlso commented on #118
Alright, I think I have an idea.. I can't fix ruby, but at least I can ward against invalid output somewhat... 🤔

[2019-10-14 13:12] clergyman commented on #118
Good Lord, i didn't really expect this is such a crazy stuff..

[2019-10-14 13:31] Skarlso commented on #118
So the problem is that in order to use structs too there is a part where we check if the result responds to a function call.

This part:

[code]

Which means that anything you write in there that the basic Ruby Object responds to will cause this problem. `hash` is one. Another would be `send` and all of these:

https://ruby-doc.org/core-2.6.5/Object.html

Which is a problem... :)

[2019-10-14 13:48] Skarlso commented on #118
@clergyman Alright! I think I've got a good solution. :) Well, this was a nice ride. :D

[2019-10-14 13:53] clergyman commented on #118
@Skarlso Yes, looks good, I'll check this in master, after that will you be so kind and release new version of gem with this fix?

[2019-10-14 14:00] Skarlso commented on #118
Sure

[2019-10-15 10:28] clergyman commented on #118
@Skarlso i tested in master, it's OK now, thank you so very much. I think let's close this one and create a new gem release?

[2019-10-15 10:28] #118 closed

[2019-10-15 10:29] Skarlso commented on #118
Sure. :0

[2019-10-15 10:31] Skarlso commented on #118
@clergyman Done. :) 1.0.5 released. :)

[2019-10-16 20:23] tgnla opened #120 "Does not match properly on `==` expression when field name has a dot in it"
@Skarlso

Hello, thank you for this great gem!

I *think* this is a bug.

I took a crack at fixing this, but wasn't able to figure out exactly where I should intervene in the parsing process to make it work, so I'm bringing it up here.

See this failing test:
https://github.com/tgnla/jsonpath/commit/c79944886503aae275e8945257b3185a12f48f01

Happy to provide more info upon request, and if you can p

[2019-10-16 20:27] tgnla commented on #120
To make it clearer:

I want to filter on json data that looks like this:

[code]

I would expect a jsonpath string that looks like this:

    $.resources[*][?(@['type'] == 'Types.igloos')].name

to find

     {
         "name":"igloo-1",
         "type":"Types.igloos",
         "foo":{
            "bar":"baz"
         }
      }

but it finds

    []

[2019-10-17 06:22] Skarlso commented on #120
Hello! Thank you for reporting! :) I will check this out as soon as I can! :)

[2019-10-17 09:25] Skarlso commented on #120
Yeah, so dot is an identifier, so it splits it up by dot. Inconvenient. :D

[2019-10-17 09:44] Skarlso commented on #120
Okay, this is not going to be possible without messing up everything that's built around `.` being an identifier. What I can do is, make the regex a bit more strict in terms of if you don't want `.` to be handled as an identifier for a call, you have to escape it. Put two or one `\` in front of the dot. Something like this:

[code]

This way, jsonpath will know that `.` should not be handled as an

[2019-10-17 09:54] Skarlso commented on #120
It's actually harder than that, because the `.` makes it so that the identifier is not handled as a word, but two words. :/

[2019-10-17 16:15] tgnla commented on #120
Thanks for looking into this.

fwiw, it appears not all jsonpath implementations support this.

https://jsonpath.herokuapp.com/

Jayway does
<img width="933" alt="image" src="https://user-images.githubusercontent.com/54286245/67027355-6387f480-f0d7-11e9-9643-38e77b8deeab.png">

Gatling does
<img width="784" alt="image" src="https://user-images.githubusercontent.com/54286245/67027393-77335b00-f0d7-

[2019-10-17 19:21] Skarlso commented on #120
Yeah there are some problems with doing this, but I'll figure something out! :))

[2019-10-19 12:06] Skarlso commented on #120
@tgnla Yo. So, as a workaround for now, until I figure something out... This actually works:

[code]

Notice how I'm using `@.type` instead of `@['type']`.

[2019-10-19 17:21] tgnla commented on #120
Great! Thank you for that.

[2019-10-20 12:28] greena13 commented on #117
That's quite alright, @Skarlso. I certainly know how it is to be swamped at work.

My understanding is [#each](https://github.com/joshbuddy/jsonpath/blob/master/lib/jsonpath/enumerable.rb#L14) is called recursively with the current `key` value. I was thinking an additional 4th attribute would be added to the method that would receive the path value:

[code]

It would then be a case of ensure all r

[2019-10-30 05:30] incubus opened #121 "TypeError: 0 is not a symbol nor a string exception"
Hi!

 I got an exception
[code]
with this data https://pastebin.com/enRUR5EH .

But it works in evaluators:

![image](https://user-images.githubusercontent.com/63255/67831344-fafa3800-fb18-11e9-9385-03231fdfdc61.png)

![image](https://user-images.githubusercontent.com/63255/67831365-11a08f00-fb19-11e9-84f1-13272a03b31f.png)

 Something is wrong with my path? Thanks!

Best regards,
Alexander

[2019-10-30 07:22] Skarlso commented on #121
Hi @incubus. I'll take a look later on. I'm a bit busy right now, but I'll get back to you! :)

[2019-10-30 07:51] Skarlso commented on #117
@greena13 Sounds good! I'll try to implement it. :)

[2019-11-12 19:43] mikemol opened #122 "Requires tag for new release"
https://github.com/joshbuddy/jsonpath/commit/56c2fd0b356e463883bc06cf71289da3f27d9830 is not tagged; it doesn't show up in any ref but master.

[2019-11-15 19:40] Skarlso commented on #122
Interesting. I'll take a look.

[2019-11-15 19:40] Skarlso commented on #122
https://rubygems.org/gems/jsonpath it is released though? 🤔

[2019-11-15 21:57] mikemol commented on #122
I'm trying to use the thing for work, but I'm required to be able to point
to a precise code state if the thing is open-source. So I look for git
tags, since that's about the most precise I could get. I don't have a solid
way of saying which git commit corresponds to the current state on
rubygems.org.

:wq

On Fri, Nov 15, 2019, 2:40 PM Gergely Brautigam <notifications@github.com>
wrote:

[2019-11-16 06:03] Skarlso commented on #122
Okay not to worry. I'll create a tag
😊

[2019-11-19 20:45] Skarlso commented on #122
@mikemol sorry this took so long. I'm busy at work. I created the tag for you. Hopefully this helps.

[2019-11-20 01:44] mikemol commented on #122
Thanks! Would be cool if you could automate this somehow. But honestly it'd be slicker of Github provided a mechanism to do that automatically in response to integration with sites like rubygems.org.

[2019-11-20 01:44] #122 closed

[2020-03-06 18:11] cburgmer opened #123 "Results do not match other implementations (Part 2)"
The following queries provide results that do not match those of other implementations of JSONPath
(compare https://cburgmer.github.io/json-path-comparison/):

- [ ] `$[1:3]`
  Input:
[code]
  Expected output:
[code]
  Actual output:
[code]

- [ ] `$[0:0]`
  Input:
[code]
  Expected output:
[code]
  Actual output:
[code]

- [ ] `$[-4:]`
  Input:
[code]
  Expected output:
[code]
  Actual output:
[c

[2020-06-10 09:50] glyn opened #124 "JSONPath comparison and standardisation"
@cburgmer's JSONPath comparison project is currently discussing some [issues](https://github.com/cburgmer/json-path-comparison/issues?q=is%3Aissue+is%3Aopen+label%3A%22Proposal+A%22) relating to a proposed implementation of JSONPath known as "Proposal A". May I encourage you to get involved if you are interested in influencing the direction or, indeed, if you want to make your own proposals.

Simi

[2020-07-06 15:56] grosser opened #125 "Please don't depend on to_regexp"
It seems like an unnecessary dependency and also adds a global monkey-patch

[2020-08-04 10:26] fadhlimaulidri opened #126 "Generate jsonpath list from json"
can i get list of jsonpath from a json use it?

maybe something like https://www.convertjson.com/json-path-list.htm

[2020-08-18 23:07] joshbuddy commented on #124
Hey @glyn would you mind re-issuing the invite?

[2020-08-18 23:08] joshbuddy commented on #124
Or just send it to joshbuddy@gmail.com

[2020-08-24 10:56] glyn commented on #124
https://join.slack.com/t/jsonpath-standard/shared_invite/zt-fp521hp0-D7gmDcmOMK4UkrRRug~SQQ won't expire :-)

[2020-11-16 16:42] grosser commented on #125
@Skarlso 🙏
I can make the PR if you want

[2020-11-16 17:06] Skarlso commented on #125
@grosser sure, please feel free to open one if it's okay I'll merge and release it. Thanks!

[2020-11-17 00:35] grosser commented on #125
https://github.com/joshbuddy/jsonpath/pull/128

[2020-11-18 07:40] Skarlso commented on #126
Unlikely to happen mate, I'm sorry. I'm in maintenance mode for this Gem as my time is now bogged down mostly with Go related work in my job and in my free time too. If anyone else wants a crack at it, feel free. :) I gladly merge and release it.

[2020-11-18 08:35] #125 closed

[2020-11-18 08:41] Skarlso commented on #125
@grosser Gem has been released, thank you for your contribution. :)

[2020-11-18 08:41] Skarlso commented on #125
https://rubygems.org/gems/jsonpath/versions/1.0.6

[2020-12-05 13:12] mbajur opened #134 "Not possible to access values of numeric keys"
Hello!

I just stumbled upon an issue that it's not possible to access values of numeric keys. Let's say we have a following json, while trying to access `1` key, `nil` gets returned:

[code]

[2020-12-14 13:08] Skarlso commented on #134
Hi @mbajur. Thanks for reporting. I found the "bug". I reluctantly call it a bug, because I have no idea why it was there in the first place. :D And all the tests seem to be working even if we don't cast the key to an Integer. So here's to hoping nothing other broke.. :D

[2020-12-14 13:54] mbajur commented on #134
i'm glad you nailed it that easily :) thanks!

[2020-12-15 06:12] #134 closed

[2020-12-15 06:20] Skarlso commented on #134
Released the fix. Cheers!

[2022-03-08 18:10] bk-chovatiya opened #141 "nesting of 101 is too deep"
JSON default allows 100 level deep parsing. If you want to go beyond 100 level we need to parse max_nesting as false.
<img width="1082" alt="Screen Shot 2022-03-08 at 1 10 19 PM" src="https://user-images.githubusercontent.com/73137373/157299505-97eb6395-73d7-4dc8-b413-928162988582.png">

[2022-03-15 18:07] uvlad7 opened #143 "Impossible to filter elements of an array with unknown name"
[code]

[2022-04-22 20:03] gongfarmer opened #144 "Compound queries that test boolean values do not work"
Here is a test case:

[code]
Expected:  find "testname3"
Actual: finds "testname2" and "testname3"

[2022-04-22 23:30] gongfarmer commented on #144
Strangely, it is fixed by removing a few lines.  All tests pass afterward including the one I added.
I don't understand the purpose of the lines I removed.

[code]

[2022-04-23 00:35] gongfarmer opened #145 "Compound queries do not evaluate false expressions properly"
When a compound query evaluates down to the expression true && false && true, the result is true.
It should be false.

Example:
[code]
Expected result: only ["testname3"]

Root cause:
In "parser.rb", method "#parse_parentheses", the sub-expressions have been evaluated and replaced with "true" or "false".
These values are then evaluated against the operators && or ||.
The first of the compound valu

[2022-04-23 00:36] gongfarmer commented on #145
Fixed by this:

[code]

[2022-04-23 07:20] joshbuddy commented on #144
I'm also having a hard time understanding why this was splitting the first part like this. This could be a vestigial bit of code from some previous feature.

[2022-04-23 07:21] joshbuddy commented on #143
Hey, I'd happily accept a pr to fix this behavior

[2022-04-24 20:14] gongfarmer commented on #144
Oops...  removing that weird code caused a regression in v1.1.1.

[code]
The output from both of the above queries is expected to match, the only difference is whitespace surrounding "!=".
This test is running on JsonPath v1.1.1.
This bug was not present in v1.1.0.

PR is coming.

[2022-04-24 20:16] joshbuddy commented on #144
Thank you for spotting this. I'll yank and re-publish once you've got a PR up.

[2022-04-24 20:17] gongfarmer opened #147 "Not equals (!=) operator broken unless preceded by space"
This is a regression in jsonpath v1.1.1 caused by my earlier commit 083d858.

Example:
[code]
The test on line 102 fails, despite the fact that the query only differs from line 101 by whitespace.

Expected output:   ['Nigel Rees', 'Evelyn Waugh', 'Herman Melville', 'J. R. R. Tolkien', 'Lukyanenko']
Actual output: ["Lukyanenko"]

[2022-04-24 20:34] gongfarmer commented on #147
I don't recommend restoring the original code that I removed.
Reasons:
* it was complex and hard to understand
* it gave incorrect results for boolean queries (this bug, #144)
* it was not handling compound queries properly since it only applied to the first key in the query

Instead this PR changes the parser code which is eagerly consuming the ! character too early.

I considered that this might

[2022-04-25 09:24] joshbuddy commented on #147
Yeah, makes total sense to me. It would be good to fix ! in the key names at some point, but given the already broken behavior and the fact this situation probably rarely comes up, its good to proceed with your PR and release (which is what i've done) and address this at some future point.

Thanks again for your work on this!

[2022-04-25 09:24] #147 closed

[2022-04-25 09:25] #144 closed

[2022-11-26 13:49] #121 closed